<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile Update</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="container mt-5">
        <div>
            <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Profile</th>
                </tr>
            </thead>
            <tbody>
                <form action="/changepassword" method="post">
                <div class="form-group">
                <tr><th>
                    <label for="name">Old Password</label>
                    <input type="text" class="form-control" name="password" value="" autocomplete="off">
                    <input type="checkbox" onclick="myFunction()"> <p style="color: white; margin-top: -21px; margin-left: 20px;">Show Password</p>
                </th></tr>
                <tr><th>
                    <label for="name">New password</label>
                    <input type="text" class="form-control" name="newpass" value="" autocomplete="off" placeholder="Enter new password">
                    <input type="checkbox" onclick="myFunction()"> <p style="color: white; margin-top: -21px; margin-left: 20px;">Show Password</p> 
                </th></tr>
                <tr><th>
                    <label for="name">Confirm Password</label>
                    <input type="text" class="form-control" name="newpass2" value="" placeholder="Re-type new password" autocomplete="off">
                    <input type="checkbox" onclick="myFunction()"> <p style="color: white; margin-top: -21px; margin-left: 20px;">Show Password</p> 
                </th></tr>
                <tr><th style="text-align:right">
                    <input type="submit" class="btn btn-info" value="Update"/>
                </th></tr>
                </div>

            </tbody>
        </table>
        </div>
    </div>
</div>

<script>
    
    function myFunction() {
      var x = document.getElementById("password");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
    
</script>

</body>
</html>