<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="container mt-5">
        <div>
            <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Profile</th>
                </tr>
            </thead>
            <tbody>
                <tr><th style="text-align:center"><img src="img/ocean.jpg" class="img-thumbnail rounded-circle" style="width:150px; height:150px"><br><br>
                <a class="btn btn-success edit" href="">Update Photo</a>
                </th></tr>
                <tr><th>Name: </th></tr>
                <tr><th>Display Name: </th></tr>
                <tr><th>Email Address: </th></tr>
                <tr><th>Password: ****** <div align="right"><a class="btn btn-primary edit" href="">Change password</a></div></th></tr>
                <tr>
                    <th style="text-align:right"><a class="btn btn-success edit" href="/editprofile">Edit</a></th>           
                </tr>
                
            </tbody>
        </table>
        </div>
    </div>
</div>
</body>
</html>