<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="icon" type="image/png" href="/images/dart2.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>




             
<!-- <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet"> -->
    
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700i" rel="stylesheet">


       <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
       <script src="/booklet/jquery.easing.1.3.js" type="text/javascript"></script>
       <script src="/booklet/jquery.booklet.1.1.0.min.js" type="text/javascript"></script>

       <link href="/booklet/jquery.booklet.1.1.0.css" type="text/css" rel="stylesheet" media="screen" />
        
 <style>
        img {
            object-fit: scale-down;
        }
        .img-center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .purple{
            background-color: #0f7aac;
        }
        .red{
            background-color: #21bcc7;
        }
        .pink{
            background-color: #5ccff1de;
        }


        
        /* *{
	margin:0;
	padding:0;
} */
body{
	/* background:#eba426;	 */
	color:#444;
	/* font-size:12px; */
	color: #333;
    font-family: 'Oswald', sans-serif;
}
 
 
.booklet           {
	width:900px;
	height:607px;
	position:relative;
	margin:0 auto 10px;
	-moz-box-shadow:0px 0px 1px #fff;
	-webkit-box-shadow:0px 0px 1px #fff;
	box-shadow:0px 0px 1px #fff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.booklet .b-wrap-left  {
	background:#fff url(images/left_bg.jpg) no-repeat top left;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.booklet .b-wrap-right {
	background:#efefef url(images/right_bg.jpg) no-repeat top left;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.booklet .b-counter {
	bottom:10px;
	position:absolute;
	display:block;
	width:90%;
	height:20px;
	border-top:1px solid #ddd;
	color:#222;
	text-align:center;
	font-size:12px;
	padding:5px 0 0;
	background:transparent;
	-moz-box-shadow:0px -1px 1px #fff;
	-webkit-box-shadow:0px -1px 1px #fff;
	box-shadow:0px -1px 1px #fff;
	opacity:0.8;
}
.book_wrapper{
	margin:0 auto;
	padding-top:50px;
	width:905px;
	height:540px;
	position:relative;
	background:transparent url(images/bg.png) no-repeat 9px 27px;
}
.book_wrapper h1{
	color:orange;
	margin:5px 5px 5px 15px;
	font-size:24px;
	background:transparent url(images/h1.png) no-repeat bottom left;
	padding-bottom:7px;
    text-transform: uppercase;
    font-weight: normal;
}
.book_wrapper p{
	font-size:15px;
	margin:5px 5px 5px 15px;
}
.book_wrapper a.article,
.book_wrapper a.demo{
	background:transparent url(images/circle.png) no-repeat 50% 0px;
	display:block;
	width:95px;
	height:41px;
	text-decoration:none;
	outline:none;
	font-size:16px;
	color:#555;
	float:left;
	line-height:41px;
	padding-left:47px;
}
.book_wrapper a.demo{
	margin-left:50px;
}
.book_wrapper a.article:hover,
.book_wrapper a.demo:hover{
	background-position:50% -41px;
	color:#13386a;
}
.book_wrapper img{
	margin:10px 0px 5px 35px;
	width:300px;
	padding:4px;
	border:1px solid #ddd;
	-moz-box-shadow:1px 1px 1px #fff;
	-webkit-box-shadow:1px 1px 1px #fff;
	box-shadow:1px 1px 1px #fff;
}
.booklet .b-wrap-right img{
	border:1px solid #E6E3C2;
}
a#next_page_button,
a#prev_page_button{
	display:none;
	position:absolute;
	width:41px;
	height:40px;
	cursor:pointer;
	margin-top:-20px;
	top:50%;
	background:transparent url(images/buttons.png) no-repeat 0px -40px;
}
a#prev_page_button{
	left:-30px;
}
a#next_page_button{
	right:-30px;
	background-position:-41px -40px;
}
a#next_page_button:hover{
	background-position:-41px 0px;
}
a#prev_page_button:hover{
	background-position:0px 0px;
}
 
        </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top border border-secondary border-top-0  border-right-0  border-left-0 purple d-flex justify-content-between">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse col-3" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link d-flex flex-row active font-weight-bold" href="/">Home <span class="sr-only">(current)</span> <span><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door ml-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z"/>
                            <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                        </svg></span>
                    </a> 

                    <a class="nav-item nav-link d-flex flex-row" href="/journals">Journals <span>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-journals ml-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 2h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2z"/>
                            <path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2v-1a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2zM1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                        </svg>
                        </span>
                    </a>
                    
                </div>
            </div>
            <div class="col-3 d-flex align-content-center">
                <img src="../../public/images/quests_Logo.png" width="170px" class=""/>
            </div>
            
            <div class="col-2 d-flex flex-row">
                <a class="nav-item nav-link d-flex flex-row text-white mt-1" href="/profile">Profile
                    <span>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-square ml-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path fill-rule="evenodd" d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                          </svg>
                        </span>
                </a>
                <span class="navbar-text">
                <!-- <a href="/accounts/log-out" class="text-decoration-none">Log out</a> -->
                    <form method="POST" action="/logout">
                        <input type="submit" value="Log out" style="cursor: pointer; font-weight:600;" class="rounded red border-0 m-0 p-1 ml-3">
                    </form>
                </span>
            </div>
    </nav>

    <!-- <div class="container">
        <div class="mt-4 mb-3 row justify-content-center" id="myDiv">
            <div class="col-7 border p-3 pink">
                <div class="mb-3">
                    <div class="card-body pink">
                        <div align="center"><h3>Welcome to Journaling !</h3></div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


    <!-- <div class="modal fade" id="showpost" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header pb-1 pt-1">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            
          </div>
        </div>
    </div> -->
		 
    <div class="book_wrapper">
        <a id="next_page_button"></a>
        <a id="prev_page_button"></a>
         
        <div id="mybook" style="display:none;">
            <div class="b-load">
                
                <div>
                    <img src="images/1.jpg" alt="" />
                    <h1>SHREK IS HART</h1>
                    <p>Srek shreck is love shreck is hart</p>
               
                </div>

                <div>
                    <h1>Your Diary I will Keep</h1>
                    <p>Love, Shrek</p>
                </div>

                <div class="container">
                    <div class="mt-4 mb-3 row justify-content-center" id="myDiv">
                        <div class="col-7 border p-3 pink">
                            <div class="mb-3">
                                <div class="card-body pink">
                                    <div align="center"><h3>Welcome to Journaling !</h3></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <h1>Please click the journals tab!</h1>
                    <p>Love, Shrek</p>
                </div>

                <% if(data.length) { %>
                    <% for(var i = 0; i< data.length; i++) { %>

                <div class="container">
                    <div class="mt-4 mb-3 row justify-content-center" id="myDiv">
                        <div class="col-7 border p-3 pink">
                            <div class="mb-3">
                                <div class="card-body pink">
                                    <div align="center"><h3>Journal No. <%= (i+1) %> !</h3></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div>
                    <h1><%= data[i].title%></h1>
                    <p><%= data[i].description%></p>
                </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>

    

    

    <script type="text/javascript">
        $(function() {
            var $mybook 		= $('#mybook');
            var $bttn_next		= $('#next_page_button');
            var $bttn_prev		= $('#prev_page_button');
            var $loading		= $('#loading');
            var $mybook_images	= $mybook.find('img');
            var cnt_images		= $mybook_images.length;
            var loaded			= 0;
             
            $mybook_images.each(function(){
                var $img 	= $(this);
                var source	= $img.attr('src');
                $('<img/>').load(function(){
                    ++loaded;
                    if(loaded == cnt_images){
                        $loading.hide();
                        $bttn_next.show();
                        $bttn_prev.show();
                        $mybook.show().booklet({
                            name:               null,                            //  
                            width:              800,                             //  
                            height:             500,                             //   
                            speed:              600,                             //  
                            direction:          'LTR',                           //  
                                                       //  
                            next:               $bttn_next,          			//  
                            prev:               $bttn_prev,          			//  
                                                   
                        });
                        Cufon.refresh();
                    }
                }).attr('src',source);
            });
            
        });
    </script>



</body>



</html>


